<section class="page">

    <ul class="articles list" data-bind="foreach: articles">
        <li class="article row" data-bind="click: $parent.select">
            <img class="thumb" data-bind="attr: {src: 'images/articles/' + Picture}"/>
            <div class="description" data-bind="text: Title"></div>
            <div class="money" data-bind="text: Price"></div>
        </li>
    </ul>

    <a class="button previous left" data-bind="{click: previousPage, if: page() > 1}">Previous</a>
    <a class="button next right" data-bind="{click: nextPage, if: page() < pages()}">Next</a>

    <div class="modal" data-bind="{with: selected, css: {open: selected}}">
        <div class="selected article">
            <img class="photo" data-bind="attr: {src: 'images/articles/' + Picture}"/>
            <div class="title" data-bind="text: Title"></div>
            <div class="money" data-bind="text: Price"></div>
            <div class="description" data-bind="text: Description"></div>
            <a class="button add left" data-bind="click: $parent.addCart">Add to cart</a>
            <a class="button close right" data-bind="click: $parent.cancel">Close</a>
        </div>
    </div>

</section>

<script>ko.applyBindings(new HomeIndexViewModel());</script>
