@color-black: #000;
@color-gray: #333;
@color-light: #ccc;
@color-error: orangered;
@color-readonly: #eee;
@border: 1px dotted @color-light;
@margin: 10px;
@margin-big: 30px;
@margin-up: -20px;
@font: Helvetica, Arial, sans-serif, serif;
@font-extra: 'montserratregular', sans-serif, serif;
@font-medium: 16px;
@font-large: 20px;
@font-huge: 40px;

body {
  font-family: @font;
  font-size: @font-medium;
  color: @color-black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

input, textarea {
  font-family: @font;
  font-size: @font-medium;
  color: @color-black;
  border: @border;
  padding: @margin;

  &[readonly] {
    background-color: @color-readonly;
  }
}

textarea {
  height: 100px;
}

label {
  vertical-align: top;
}

a {
  cursor: pointer;
  color: @color-black;
}

a:visited {
  color: inherit;
}

a:link {
  text-decoration: none;
}

ul {
  padding-start: 0;
  -webkit-padding-start: 0;
  margin: 0;
}

li {
  margin: 0;
  list-style-type: none;
}

fieldset {
  border: none;

  label {
    display: inline-block;
    width: 20%;
  }

  input, textarea, select {
    display: inline-block;
    width: 40%;
  }
}

h1 {
  color: @color-gray;
  margin-top: @margin-big;
  padding-bottom: @margin;
  border-bottom: @border;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;

  &.up {
    margin-top: @margin-up;
  }
}

.button {
  margin-top: @margin;
  margin-bottom: @margin;
  &:hover {
    text-decoration: underline;
  }

  &.disabled {
    color: @color-light;
    pointer-events: none;
  }
}

.validationMessage {
  color: @color-error;
  padding-left: @margin;
}

.header {
  font-weight: bold;
  text-transform: uppercase;
  font-family: @font-extra;
  letter-spacing: 0.5px;
}

.header.logo {
  font-size: @font-huge;
  color: @color-gray;
}

.header.cart {
  margin-top: @margin;
  font-size: @font-large;
  color: @color-light;

  .count {
    margin-left: @margin;
    font-size: @font-medium;
  }
}

.actions {
  margin: @margin 0;
  border-top: @border;
  height: 40px;
}

.modal {

  .actions {
    margin: 0;
    height: @margin;
    border-top: none;
  }

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  & > div {
    border: @border;
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: @margin-big;
    background: #fff;
  }
}

.money {
  font-weight: bold;
  font-size: @font-large;
  &::after {
    content: ' €';
  }
}

.row {
  padding-bottom: @margin;
  padding-top: @margin;
  border-bottom: @border;
}

.photo {
  width: 217px;
  height: 161px;
}

.row .photo {
  width: 108px;
  height: 80px;
}

.catalog .article {
  display: inline-block;
  width: ~'calc(50% - 3px)';
  cursor: pointer;
}

.modal .selected.article {
  .title {
    margin-top: @margin;
    margin-bottom: @margin;
  }
  .description {
    margin-top: @margin-big;
    margin-bottom: @margin-big;
  }
}

.cart.summary {
  padding: @margin @margin-big;

  .line {
    text-transform: uppercase;
    font-weight: bold;
    font-style: @font-large;
    margin-top: @margin;

    .label {
      display: inline-block;
      width: 80%;
    }

    .money {
      display: inline-block;
      width: 20%;
      text-align: right;
    }
  }
}

.col10 {
  display: inline-block;
  width: 9%;
}
.col20 {
  display: inline-block;
  width: 20%;
}
.col30 {
  display: inline-block;
  width: 30%;
}
.col40 {
  display: inline-block;
  width: 40%;
}
.col50 {
  display: inline-block;
  width: 50%;
}
.col60 {
  display: inline-block;
  width: 60%;
}
.col70 {
  display: inline-block;
  width: 70%;
}
.col80 {
  display: inline-block;
  width: 80%;
}
.col90 {
  display: inline-block;
  width: 90%;
}

.admin.border.photo {
  border: @border;
  margin-left: 132px;
  width: 250px;
}