<section class="page">

    <h1>Shopping Cart Summary</h1>

    <div class="cart summary">
        <div class="line">
            <div class="label left">Subtotal</div>
            <div class="subtotal money" data-bind="text: subtotal"></div>
        </div>
        <div class="line">
            <div class="label left">VAT</div>
            <div class="vat money" data-bind="text: vat"></div>
        </div>
        <div class="line">
            <div class="label left">Total</div>
            <div class="total money" data-bind="text: total"></div>
        </div>
    </div>

    <div class="actions">
        <a href="cart/checkout" class="button checkout right" data-bind="css: {disabled: !cart().length}">Checkout</a>
        <a href=".." class="button back left">Back</a>
    </div>

    <h1>Shopping Cart Detail</h1>

    <ul class="cart list" data-bind="foreach: cart">
        <li class="article row">
            <img class="thumb" data-bind="attr: {src: 'images/articles/' + picture}"/>
            <div class="description" data-bind="text: title"></div>
            <div class="money" data-bind="text: price"></div>
            <a class="button remove right up" data-bind="click: $parent.remove">Remove</a>
        </li>
    </ul>

</section>

<script>ko.applyBindings(new CartViewModel());</script>
